.container {
  text-align: center;
}

.play__container,
.option__menu {
  color: #ffffff;
  font-size: xx-large;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDNcUns1LHYmY2OJSHxZA60V8JLTMxjHDsmw&usqp=CAU)
    center;
}

.results__table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

table,
th,
td {
  padding: 5px;
}

.option__menu img {
  border: 1px solid black;
  padding: 10px;
}

.option__menu {
  border: 1px solid black;
  padding: 10px;
}

.play__container__left,
.play__container__right {
  text-align: center;
  flex: 1;
  border: 1px solid black;
  padding: 10px;
  height: 350px;
}

.option__menu img:hover {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

/* .container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 5px;
  font-weight: bolder;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.results__table {
}

.container table,
th {
  padding: 5px;
  font-weight: bolder;
  display: inline-block;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

.container table td {
  padding: 5px;
  text-align: center;
  display: inline-table;
  justify-content: center;
  font-weight: bolder;
  justify-content: space-around;
}
.play__container,
.option__menu {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDNcUns1LHYmY2OJSHxZA60V8JLTMxjHDsmw&usqp=CAU)
    center;
  color: #ffffff;
}

.container__left,
.container__right {
  border: 2px solid #66ff99;
  padding: 10px;
  text-align: center;
  height: 350px;
  flex: 1;
  border-radius: 25px;
}

.option__menu img {
  justify-content: space-between;
}

.option__menu img:hover {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
} */
